/*MainMenu*/
.sapMTextMaxWidth {
    max-width: 100%;
    color: white;
}

.hero-container {
    background: linear-gradient(to bottom, #000, #646363);
    height: 33vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white !important;

}

.welcome1 {
    color: #90eef099;
    line-height: 1.5;
    word-spacing: 2px;
}

.select1 {
    padding-top: 15px;
    color: white;
    font-size: 25px;
    font-weight: 300;
}

.sapMGT.OneByOne {
    width: 15rem;
    height: 21rem;
    border-radius: 0%;
}

.tile-container {
    justify-content: space-around;
    margin-top: -45px;
    height: 20rem;
}

.customNavBar {
    background: hsl(0, 0%, 0%);
}

.MenuButton span#__button0-inner {
    background: transparent;
    border: none;
    color: #fff;
}

/* .sapMBtn .sapMBtnIcon {
    color: white;
} */

/*Generic tile*/
span#__tile0-title-inner {
    text-align: center;
    padding-top: 8.5rem;
}

span#__tile1-title-inner {
    text-align: center;
    padding-top: 8.5rem;
}

span#__tile2-title-inner {
    text-align: center;
    padding-top: 8.5rem;
}

span#__tile3-title-inner {
    text-align: center;
    padding-top: 8.5rem;
}

span#__tile4-title-inner {
    text-align: center;
    padding-top: 8.5rem;
}

/*Generic tiles icon*/
.tile-1 .sapMImageContentImageIcon.sapUiIcon::before {
    font-size: 1.75rem;
    background-color: rgb(8, 78, 88);
    border-radius: 50%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    color: #fff;
}

.tile-2 .sapMImageContentImageIcon.sapUiIcon::before {
    font-size: 1.75rem;
    background-color: rgb(8, 78, 88);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    color: #fff;
}

.tile-3 .sapMImageContentImageIcon.sapUiIcon::before {
    font-size: 1.75rem;
    background-color: rgb(8, 78, 88);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    color: #fff;
}

.tile-4 .sapMImageContentImageIcon.sapUiIcon::before {
    font-size: 1.75rem;
    background-color: rgb(8, 78, 88);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    color: #fff;
}

.tile-5 .sapMImageContentImageIcon.sapUiIcon::before {
    font-size: 1.75rem;
    background-color: rgb(8, 78, 88);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    color: #fff;
}

.tile-icon {
    margin: 0 5rem;
}

/* Desktop and Tablet (768px and above) */
/* @media screen and (min-width: 768px) {
    .tile-container {
        display: flex;
        flex-wrap: wrap;
        height: 13rem;
    }

    .tileLayout {
        flex: 0 0 calc(33.33% - 20px);
        margin-right: 20px;
        margin-bottom: 10px;
    }

    .tileLayout:last-child {
        margin-right: 0;
    }
}


@media screen and (max-width: 767px) {
    .hero-container {
        margin-bottom: 20px;
    }

    .tile-container {
        flex-direction: column;
        margin: 4rem;
        padding-top: 55rem;
    }

    .tileLayout {
        margin: 10px 0;
    }

    .tileLayout .tileContent {
        text-align: center;
    }
} */




/*MainMenu*/
/*Customersearch*/
div#__bar0 {
    background-color: #454545;
    height: 3rem;
    padding-top: 10px;
}
div#container-luxasia---customersearch--emailInput-content {
    height: 40px;
    border-radius: 30px;
    width: 200px;
    border: 1px solid white;
}
div#container-luxasia---customersearch--mobileInput-content {
    height: 40px;
    border-radius: 30px;
    width: 200px;
    border: 1px solid white;
}
div#container-luxasia---customersearch--nameInput-content {
    height: 40px;
    border-radius: 30px;
    width: 200px;
    border: 1px solid white;
}
div#container-luxasia---customersearch--surnameInput-content {
    height: 40px;
    border-radius: 30px;
    width: 200px;
    border: 1px solid white;
}
/* div#application-luxasia-display-component---customersearch--emailInput-content {
    height: 40px;
    border-radius: 30px;
    width: 200px;
    border: 1px solid white;
}

div#application-luxasia-display-component---customersearch--mobileInput-content {
    height: 35px;
    border-radius: 30px;
    width: 200px;
    border: 1px solid white;
}

div#application-luxasia-display-component---customersearch--nameInput-content {
    height: 35px;
    border-radius: 30px;
    width: 200px;
    border: 1px solid white;
}

div#application-luxasia-display-component---customersearch--surnameInput-content {
    height: 35px;
    border-radius: 30px;
    width: 200px;
    border: 1px solid white;

} */

.flex-spacing {
    padding-top: 2.5rem;
    justify-content: space-evenly;
}

.wide-button1 .sapMBtnInner {

    background-color: rgb(8, 78, 88);
    border-radius: 50px;
    height: 35px;
    padding: 5px;
    width: 200px;
}

.wide-button1 .sapMBtnInner:hover {

    background-color: rgb(8, 76, 87);
    background-color: rgb(7, 76, 87);
}

.wide-button1 .sapMBtnContent {
    color: white;
}

.wide-button .sapMBtnInner:not(.sapMToggleBtnPressed):not(.sapMBtnEmphasized):not(.sapMBtnAccept):not(.sapMBtnAttention):not(.sapMBtnReject):not(.sapMBtnActive):not(.sapMBtnGhost) {
    color: #fff;
    background-color: rgb(8, 168, 168);
    border-radius: 50px;
    height: 30px;
    width: 180px;
    text-align: center;

}

.wide-button .sapMBtnContent {
    color: white;
    text-align: center;
}

.wide-button .sapMBtnInner {
    padding: 3px;

}

.navbutton ::before {
    color: white;
}

/* Desktop and Tablet Layout*/
/* @media screen and (min-width: 768px) {
    .flex-spacing {
        display: flex;
    }

    .flex-spacing>* {
        margin-right: 1rem;
    }
} */

/* Mobile Layout*/
/* @media screen and (max-width: 767px) {
    .flex-spacing {
        display: block;
    }

    .flex-spacing>* {
        margin-bottom: 1rem;
        margin-left: 2rem;
    }
} */

/*Customersearch*/

/*Storeselection*/
.welcome {
    line-height: 1.5;
    text-align: center;
    word-spacing: 5px;
    color: #000 !important;
    font-size: small;
    font-weight: light;
}

.select {
    padding: 10px;
    line-height: 1.5;
    text-align: center;
    color: #000;
    font-size: larger;
}

.wide-select {
    width: 350px;
}

.wide-select::placeholder {
    color: #000;
    font-size: bold;
}

/* div#application-luxasia-display-component---storeselection--storeSelect-content {
    height: 35px;
    border-radius: 30px;
    background-color: rgb(8, 168, 168);
    border: 1px solid #fff;
  
} */
div#container-luxasia---storeselection--storeSelect-content {
    height: 35px;
    border-radius: 30px;
    background-color: rgb(8, 168, 168);
    border: 1px solid #fff;
}
.next .sapMBtnInner {

    background-color: rgb(8, 168, 168);
    border-radius: 30px;
    height: 35px;
    padding: 3px;
    width: 350px;
    margin: 20px;
}

.next .sapMBtnInner:hover {

    background-color: rgb(8, 78, 88);
    background-color: rgb(8, 78, 88);
}

.next .sapMBtnContent {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

span#__button0-img {
    color: #fff;
}


/*Storeselection*/
/*Brand*/
div#application-luxasia-display-component---brand--master-intHeader-BarPH {
    background: black;
}

span#application-luxasia-display-component---brand--master-title-inner {
    color: white;
}

div#application-luxasia-display-component---brand--detail-intHeader-BarPH {
    background: black;
}

span#application-luxasia-display-component---brand--detail-title-inner {
    color: white;
}

.Login .sapMBtnInner {
    color: #fff;
    background-color: rgb(58, 177, 177);
    border-radius: 50px;
    height: 50px;
    padding: 10px;
}

.Login .sapMBtnInner:hover {
    color: #fff;
    background-color: rgb(58, 177, 177);
    border-radius: 50px;
    height: 50px;
    padding: 10px;
}

.Login {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.Login .sapMBtnContent {
    color: white;
}
/* div#application-luxasia-display-component---brand--splitContainer-Master {
    width: 50%;
} */
div#container-luxasia---brand--splitContainer-Master {
    width: 50%;
}
/*Brand*/
/*Newcustomer*/
.Newcustomer {
    padding: 10px;
    line-height: 1.5;
    text-align: center;
    color: #000;
    font-size: larger;
    font-weight: light;
    word-spacing: 5px;
}

.pleaseenter {
    line-height: 1.5;
    word-spacing: 2px;
    text-align: center;
    color: #000 !important;
    font-size: medium;
    margin-bottom: 10px;
}

.pleaseenter1 {
    line-height: 1.5;
    text-align: center;
    color: #000 !important;
    padding: 10px;
    font-size: small;
    font-weight: lighter;
}

.wide-create {
    align-items: center;
}

.wide-create .sapMBtnInner {
    color: #fff;
    background-color: rgb(8, 168, 168);
    border-radius: 50px;
    height: 40px;
    width: 600px;
    align-items: center;
}

.wide-create .sapMBtnInner:hover {

    background-color: rgb(8, 78, 88);
    background-color: rgb(8, 78, 88);
}

.wide-create .sapMBtnContent {
    color: white;
}

.flexContainer {
    padding-bottom: 20px;
    margin-left: 3rem;
    margin-right: 3rem;
}
/* .myInput.sapMInput {
    height: 35px;
  
    border: 2px solid white;
} */
/* .myInput.sapMInputBase{
    border-radius: 30px;
    height: 35px;
    border: 2px solid white;
} */

div#container-luxasia---newcustomer--titleInput-content {
    height: 40px;
    border-radius: 30px;
    border: 2px solid white;
}

div#container-luxasia---newcustomer--nameInput-content {
    height: 40px;
    border-radius: 30px;
    border: 2px solid white;
}

div#container-luxasia---newcustomer--surnameInput-content {
    height: 40px;
    border-radius: 30px;
    border: 2px solid white;
}

div#container-luxasia---newcustomer--emailInput-content {
    height: 40px;
    border-radius: 30px;
    border: 2px solid white;
}

div#container-luxasia---newcustomer--countryCodeComboBox-content {
    height: 40px;
    border-radius: 30px;
    border: 2px solid white;
}

div#container-luxasia---newcustomer--mobileNumberInput-content{
    height: 40px;
    border-radius: 30px;
    border: 2px solid white;
}

div#container-luxasia---newcustomer--dateOfBirthDatePicker-content{
    height: 40px;
    border-radius: 30px;
    border: 2px solid white;
}

div#container-luxasia---newcustomer--customerAddressInput-content {
    height: 40px;
    border-radius: 30px;
    border: 2px solid white;
}
 /* div#application-luxasia-display-component---newcustomer--titleInput-content {
    height: 40px;
    border-radius: 30px;
    border: 2px solid white;
}

 div#application-luxasia-display-component---newcustomer--nameInput-content {
    height: 40px;
    border-radius: 30px;
    border: 2px solid white;
}

div#application-luxasia-display-component---newcustomer--surnameInput-content {
    height: 40px;
    border-radius: 30px;
    border: 2px solid white;
}

div#application-luxasia-display-component---newcustomer--emailInput-content {
    height: 40px;
    border-radius: 30px;
    border: 2px solid white;
}

div#application-luxasia-display-component---newcustomer--countryCodeComboBox-content {
    height: 40px;
    border-radius: 30px;
    border: 2px solid white;
}

div#application-luxasia-display-component---newcustomer--mobileNumberInput-content {
    height: 40px;
    border-radius: 30px;
    border: 2px solid white;
}

div#application-luxasia-display-component---newcustomer--dateOfBirthDatePicker-content {
    height: 40px;
    border-radius: 30px;
    border: 2px solid white;
}

div#application-luxasia-display-component---newcustomer--customerAddressInput-content {
    height: 40px;
    border-radius: 30px;
    border: 2px solid white;
} */

/* Mobile (up to 767px) */
/* @media screen and (max-width: 767px) {
    .flexContainer {
        flex-direction: column;
    }

    .myInput,
    .wide-create {
        width: 100%;
        margin-bottom: 10px;
    }
} */

/*Newcustomer*/

/*Call list*/
div#__bar1 {
    background-color: #454545;
    height: 3rem;
    padding-top: 10px;
}
.myCustomMargin {
    margin-top: 20px;
}

.titleText {
    font-weight: bold;
}

.multicombobox .sapMComboBoxInner {
    border-radius: 30px;
}
.customerTable{
    padding-top: 0px;
}
/*Call list*/
/*Current campaigns*/
div#__bar2 {
    background-color: #454545;
}
div#container-luxasia---reviewallcampaigns--campaignTable {
    padding-top: 0px;
}
/*Current campaigns*/
/*Slaes Completion*/
div#__bar3 {
    background-color: #454545;
}
div#__page3-intHeader {
    background-color: #454545;
}
div#__bar4 {
    background-color: #f4f3ef;
    height: 45px;
}
.myTitleButton {
    background: none;
    border: none;
    color: #fff; 
    cursor: pointer;
    font-weight: bold;
}

.myText{
    color: #000;
}

.myTitleButton span#__button1-content {
    color: white;
}
.myTitleButton span#__button2-content {
    color: white;
}
.mytranscations span#__button12-content {
    color: #fff;
    background-color: rgb(58, 177, 177);
    border-radius: 30px;
    height: 23px;
    padding: 2px;
    width: 100%;
}
.completetranscation span#__button13-content {
    color: #000;
}
div#__page0-intHeader-BarRight {
    padding: 0px;
}
.myBlackText {
    color: black;
}
button#__button14-__list3-container-luxasia---salescompletion--salesTable-0-0 {
    padding-left: 10px;
    padding-top: 0px;
}
button#__button14-__list3-container-luxasia---salescompletion--salesTable-0-1 {
    padding-left: 10px;
    padding-top: 0px;
}
button#__button14-__list3-container-luxasia---salescompletion--salesTable-1-0 {
    padding-left: 10px;
    padding-top: 0px;
}
button#__button14-__list3-container-luxasia---salescompletion--salesTable-1-1 {
    padding-left: 10px;
    padding-top: 0px;
}
span#__button14-__list3-container-luxasia---salescompletion--salesTable-0-0-inner {
    border: none;
}
span#__button14-__list3-container-luxasia---salescompletion--salesTable-0-1-inner {
    border: none;
}
span#__button14-__list3-container-luxasia---salescompletion--salesTable-1-0-inner {
    border: none;
}
span#__button14-__list3-container-luxasia---salescompletion--salesTable-1-1-inner {
    border: none;
}
/* button#__button5-__list0-application-luxasia-display-component---salescompletion--salesTable-0-0 {
    padding-left: 10px;
    padding-top: 0px;
}
button#__button5-__list0-application-luxasia-display-component---salescompletion--salesTable-0-1 {
    padding-left: 10px;
    padding-top: 0px;
}
button#__button5-__list0-application-luxasia-display-component---salescompletion--salesTable-1-0 {
    padding-left: 10px;
    padding-top: 0px;
}
button#__button5-__list0-application-luxasia-display-component---salescompletion--salesTable-1-1 {
    padding-left: 10px;
    padding-top: 0px;
} */
/* span#__button5-__list0-application-luxasia-display-component---salescompletion--salesTable-0-0-inner {
    border: none;
}
span#__button5-__list0-application-luxasia-display-component---salescompletion--salesTable-0-1-inner {
    border: none;
}
span#__button5-__list0-application-luxasia-display-component---salescompletion--salesTable-1-0-inner {
    border: none;
}
span#__button5-__list0-application-luxasia-display-component---salescompletion--salesTable-1-1-inner {
    border: none;
} */
.sapMIBar .sapMBtn .sapMBtnInner.sapMBtnDefault, .sapMIBar .sapMBtn .sapMBtnInner.sapMBtnDefault .sapUiIcon, .sapUxAPObjectPageHeaderIdentifierActions .sapMBtn .sapMBtnInner.sapMBtnDefault, .sapUxAPObjectPageHeaderIdentifierActions .sapMBtn .sapMBtnInner.sapMBtnDefault .sapUiIcon {
    color: #ffffff;
    background-color: transparent;
}

/*Slaes Completion*/
.fragmentext1{
    font-size: larger;
    font-weight :lighter;
    text-align: center;
}
.fragtile{
margin-left: 80px;
margin-right: 80px;
margin-bottom: 30px
}
.products .sapMFlexItem{

}

/* pos transaction page */

.transtoolbar{
 background-color: #000 !important;
}
.transtext.sapMText{
    color : white !important;
    padding: 10px;
}
.sapMTileCntContent {
    display: flex;
    align-items: center;
    justify-content: center;
}
div#application-luxasia-display-component---transaction--otbSubheader{
    background:#000;
}

.newcustdetailtitle.sapMText {
    color: white;
    font-size: large;
}
.newcustdetailtoolbar.sapMIBar {
    background: black;
}


#cashcarrydialog{
    text-align: center;
}
.newprofile .sapMImageContentImageIcon.sapUiIcon::before {
    font-size: 1.75rem;
    background-color: rgb(8, 78, 88);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    color: #fff;
}
span#__tile5-title {
    text-align: center;
}
span#__tile6-title {
    text-align: center;
}
span#__tile7-title {
    text-align: center;
}
span#__tile8-title {
    text-align: center;
}